/* TABLE OF CONTENTS

1 GLOBAL

2 TYPOGRAPHY

3 LAYOUT

*/


/*  ======
    GLOBAL
    ====== */

:root {
  --ff-pri: 'Roboto', sans-serif;
  --ff-sec: '';

  --fw-reg: 200;
  --fw-bold: 600;

  --clr-light: #F9FAF8;
  --clr-dark: #1F2937;
  --clr-light-dark: #E5E7EB;
  --clr-accent: #3882F6;

  --fs-h1: 48px;
  --fs-h2: 36px;
  --fs-h3: 16px;
  --fs-body: 18px;
}
